html, body {
    background: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.headerBrandText {
  color: white!important;
}

.actionSubMenu {
  top: -1em;
  animation: subMenuSlideIn 0.5s linear forwards;
}

@keyframes subMenuSlideIn {
    from {top: -1em;}
    to {top: 3.6em;}
}
