div.dashboardContainer {
  margin-top: 9em;
}

div.dashboardContainer .ui.divided.items>.item:last-child {
  padding: 1em 0!important;
  border-bottom: 1px solid #dededf;
}

div.dashboardContainer .ui.divided.items>.item:first-child {
  padding: 1em 0!important;
}

div.dashboardContainer .ui.items {
    margin-top: 0!important;
}

div.dashboardContainer .tutorialList .item {
  background-color: #f7f7f7;
}

div.dashboardContainer .tutorialList .item.active {
  background-color: #ffffff;
  border-left: 2px solid #e03997;
}