div.dashboardContainer {
  margin-top: 9em;
}

div.dashboardContainer .ui.divided.items>.item:last-child {
  padding: 1em 0!important;
  border-bottom: 1px solid #dededf;
}

div.dashboardContainer .ui.divided.items>.item:first-child {
  padding: 1em 0!important;
}

div.dashboardContainer .ui.items {
    margin-top: 0!important;
}

div.dashboardContainer .tutorialList .item {
  background-color: #f7f7f7;
}

div.dashboardContainer .tutorialList .item.active {
  background-color: #ffffff;
  border-left: 2px solid #e03997;
}

div.dashboardContainer .noTutAddIcon {
  animation: pulse 2s infinite;
}

div.dashboardContainer .noTutAddIcon:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(244,57,151, 0.6);
  }
  70% {
      box-shadow: 0 0 0 50px rgba(244,57,151, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(244,57,151, 0);
  }
}